aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==21.2.0
chardet==4.0.0
colorama==0.4.4
colorlog==6.4.1
discord.py==1.7.3
hikari==2.0.0.dev101
hikari-lightbulb==1.2.5
idna==3.2
multidict==5.1.0
mysql==0.0.3
mysql-connector-python==8.0.26
mysqlclient==2.0.3
protobuf==3.18.0
pure25519==0.0.1
python-dotenv==0.19.0
typing-extensions==3.10.0.2
yarl==1.6.3
